.service .box-content{
  padding: 20px 28px 35px;
}
.service .box-content h3{
  color: #95c530;
  border-bottom: 1px dashed #95c530;
  padding-bottom: 5px;
}
.media{
  margin: 20px 0px;
}
.media, .media-content{
  overflow: hidden;
  zoom: 1;
}
.media .image{
  float: left;
  margin-right: 30px;
  width: 200px;
}
.media .image img{
  border: none;
}
.media-content .service-name{
  font-size: 18px;
  padding: 8px 15px;
  color: #fff;
  background-color: #95c530;
  font-weight: bold;
}
.media-content p{
  padding: 0px 10px;
}